body {
  margin: 0;
  padding: 50px 0;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background: #fdde7e;
  color: #5d5d5d;
}

body * {
  box-sizing: border-box;
}

h2 {
  font-size: 36px;
  color: #000;
  font-weight: 300;
  margin: 35px 0;
}

img {
  width: auto;
  max-width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 470px;
}

.flex-item {
  padding: 0 100px;
  padding-top: 30px;
  
  width: 360px;
  border-radius: 8px;
  background: #fff;
}

.flex-item:nth-child(2){
 padding-top: 60px;
 align-self: stretch;
}

.price {
  padding-bottom: 24px;
  font-size: 48px;
  font-weight: 700;
  color: #02995b;
}

.about {
  text-align: center;
}

.cup {
  padding-left: 18px;
}



